SESSION_ID="ravehub_session"
VPS="true"
AUTO_UPDATE="true"
PREFIX="!"
STICKER_PACKNAME="🎵,Ravehub"
ALWAYS_ONLINE=true
RMBG_KEY=null
LANGUAG=es
BOT_LANG=es
WARN_LIMIT=3
FORCE_LOGOUT=false
BRAINSHOP=159501,6pq8dPiYt7PdqHz3
MAX_UPLOAD=200
REJECT_CALL=true
SUDO=
TZ=America/Mexico_City
AUTO_STATUS_VIEW=true
SEND_READ=true
AJOIN=true
DISABLE_START_MESSAGE=false
PERSONAL_MESSAGE=null
WORK_COOLDOWN=3600000
